<p>
  <strong>Autor:</strong>
  <%= @post.usuario.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.titulo %>
</p>
 
<p>
  <strong>Descripcion:</strong>
  <%= @post.descripcion %>
</p>

<p>
	<strong>Contenido:</strong>
	<%= @post.contenido %>
</p>

<%= link_to "Anterior",  %>
<%= link_to "Siguiente",  %>